{% load  staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>
        my site
    </title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:greenyellow;
}

li {
    float:right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>

</head>
<body>
<ul>

    <th width="120">
                    <a href="/admin/" class="dropbtn" target="_blank">
                        ADMIN
                    </a>
                </th>

  <a href="/openhomepage/?type=home" class="dropbtn">HOME</a>
         <th width="120">
  <a href="/booking/?type=booking" class="dropbtn">BOOKING</a>
         <th width="120">

</th>
   </div>
  </li-->
  <a href="/UserLogin/?type=h_user" class="dropbtn">USER</a>

  <a href="/gallary/?type=gallary" class="dropbtn">GALLARY</a>
         <th width="120">
    <a href="/gallary/?type=feedback" class="dropbtn">CONTACT US</a>
         <th width="120">


   <li class="dropdown">


  </li>
 </ul>
 <div style="background-color:lightblue">
<form action="" method="post">
 {% csrf_token %}
 <center><input type="text" name="dt" placeholder="enter NAME">
     <input type="text" name="dt" placeholder="enter ADULTS">
     <input type="text" name="dt" placeholder="enter CHECKIN">
     <input type="text" name="dt" placeholder="enter CHECKOUT">
 <select name = "drop1" >
 <option value="pi">ROOMTYPE</option/>
     <option value="pn">AC</option/>
     <option value="pn">NONAC</option/>
     <option value="pn">DELUXE</option/>
     <option value="pn">LUXURY</option/>


</select><br>
 <input type="submit" value="search">
  </center>

 </form>
 </div>

{% if type == "home" %}
<marquee  behavior="scroll" scrollamount="15"><b style="color:red;font-size: 20px">WELCOME TO LODGE</b></marquee>
<img src="{% static 'img/bed.jpg' %}" class="img-responsive" alt="main image" style="max-height: 600px; width:100%"/>

{% endif %}

 {% if type == "h_user" %}
        <form action="/loginform/" method="post">
            {% csrf_token %}

        <table align="center" border="0">
            <tr><th height="50" width="200"> Login Page </th></tr>
             <tr><th><h2><font color="blue">{{ message }}</font></h2></th></tr>
            <tr><th height="50" width="200"> <input type="email" placeholder="Username" required name="d_uname"> </th></tr>
            <tr><th height="50" width="200"> <input type="password" placeholder="Password" required name="d_pass"> </th></tr>
            <tr><th height="50" width="200"> <input type="submit" value="Login"> </th></tr>
            <tr><th>
                <a href="/Register/?type=register">a
                    New  Register
                </a>
            </th>
            </tr>
        </table>
        </form>
        {% endif %}
        {% if type == "booking" %}
        <form action="//" method="post">
            {% csrf_token %}


                <th> <a href="/nowbooking/"  class="button">CURRENT BOOKING</a></th>
                <th><a href="/advancebooking/" class="button">ADVANCE BOOKING</a></th>
	             <a href="/cancelbooking/" class="button">CANCEL BOOKING</a>
                <img src="{% static 'img/bg-01.jpg' %}" class="img-responsive" height="300" width="300">
        {% endif %}

        {% if type == "gallary" %}
        <form action="//" method="post">
            {% csrf_token %}



            <img src="{% static 'img/bed.jpg' %}" class="img-responsive" alt="main image" style="max-height: 600px; width:100%"/>

            <img src="{% static 'img/bed.jpg' %}" class="img-responsive" alt="main image" style="max-height: 600px; width:100%"/>

           <img src="{% static 'img/bed.jpg' %}" class="img-responsive" alt="main image" style="max-height: 600px; width:100%"/>

        {% endif %}
        {% if type == "register" %}
        <form action="/insertdetails/?type=h_user" method="post">
            {% csrf_token %}
        <table align="center" border="0">
            <tr><th height="50" width="200"> Login Page </th></tr>
            <tr><th height="50" width="200"> <input type="text" placeholder="Username" required name="name"> </th></tr>
            <tr><th height="50" width="200"> <input type="text" placeholder="contactno" required name="cno"> </th></tr>
            <tr><th height="50" width="200"> <input type="text" placeholder="gmail" required name="email"> </th></tr>
            <tr><th height="50" width="200"> <input type="password" placeholder="Password" required name="pass"> </th></tr>
            <tr><td><th><input type="Submit" value="Submit"><input type="reset" value="Reset"></th></tr></td><!--register successfully-->


        {% endif %}

<footer id="myFooter" style="margin-top: 5vh;">


        <div class="col-sm-4">

					<h4 class="text-uppercase text-strong">Address</h4>
					<hr>
					<div>

          <p ><i class="fa fa-home"></i><a> SF-17, 3rd floor, <br>
                                       parsvnath Bibhab Plaza,<br>
                                       Commercial Belt,<br>
                                       Alpha-1;<br>
                                       ameerpet,<br>
                                       hyderabd,<br>
                                       andhra Pradesh-201308.<br></a>
              <i class="fa fa-phone"> </i><a>+91986574231<br></a>
              <i class="fa fa-envelope"></i><a> akbar.frnds@gmail.com</a>
          </p>
          </div>
        </div>
{% if type == "feedback" %}
        <form action="/feedback/?type=home" method="post">
            {% csrf_token %}
     <div class="col-sm-4">
         <h4 class="text-uppercase text-strong">Contact us</h4>
         <hr>
                  <input name="u_name" type="text" class="feedback-input" placeholder="Name" />
                  <input name="u_email" type="text" class="feedback-input" placeholder="Email" />
                  <textarea name="u_message" class="feedback-input" placeholder="Comment"></textarea>
                  <input type="submit" value="SUBMIT"/>

       </div>
     </form>

{% endif  %}
         <div class="col-sm-4">
              <p class="right">
               <ul class="social-nav model-7">
                <li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="linkedin"  href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="pinterest"  href=""><i class="fa fa-pinterest-p"></i></a></li>
              </ul>
                          </p>
        </div>

</div>
</div>




        <div class="footer-copyright  ">

            <p class="left">© lodge management </p>

        </div>
</footer>


<script src="{% static 'js/mainjs.js'%}" type="text/javascript"></script>

</body>
</html>

